# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

# There is an hierarchy of binding selectos (e.g. body, platform-linux), and this
# hierarchy must be respected or else the overriding might not work.
# For example, if you want to attribute a binding B to a function F, the selector
# to use should be the one higher in the hierarchy between B and F.
# If a particular binding is not working as it should you can use the Keybinding
# Resolver and press the desired binding to see what is being triggered and in
# which order.
# https://discuss.atom.io/t/overriding-core-keybindings/10180/6

'body':
  'ctrl-n': 'core:move-down'  # 'application:new-file'
  'ctrl-k ctrl-s': 'core:save'

  'ctrl-alt-k ctrl-alt-n': 'pane:split-down-and-copy-active-item'
  'ctrl-alt-k ctrl-alt-p': 'pane:split-up-and-copy-active-item'
  'ctrl-alt-k ctrl-alt-b': 'pane:split-left-and-copy-active-item'
  'ctrl-alt-k ctrl-alt-f': 'pane:split-right-and-copy-active-item'

'.platform-linux':
  'ctrl-p': 'core:move-up'  # fuzzy-finder:toggle-file-finder
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-s': 'find-and-replace:show'

'atom-workspace atom-text-editor':
  'ctrl-shift-a': 'core:select-all'
  'ctrl-a': 'editor:move-to-first-character-of-line'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-shift-e': 'find-and-replace:use-selection-as-find-pattern'

'atom-text-editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'
